<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
             http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
    <persistence-unit name="org.hibernate.tutorial.jpa">
        <class>Persistence.AsistentEntity</class>
        <class>Persistence.CentruTransfuziiEntity</class>
        <class>Persistence.CerereEntity</class>
        <class>Persistence.DonatieEntity</class>
        <class>Persistence.DonatorEntity</class>
        <class>Persistence.MedicEntity</class>
        <class>Persistence.NotificareEntity</class>
        <class>Persistence.PacientEntity</class>
        <class>Persistence.SpitalEntity</class>
        <class>Persistence.UnitateSanguinaEntity</class>

        <properties>
            <property name="hibernate.archive.autodetection" value="class" />
            <property name="hibernate.connection.driver_class" value="org.sqlite.JDBC"/>
            <property name="hibernate.connection.url" value="jdbc:sqlite:C:/Users/Mars/IdeaProjects/Blood Donation ISS App/database/ISSBloodDonation.db"/>
            <property name="hibernate.connection.autocommit" value="true"/>
            <property name="hibernate.dialect" value="com.enigmabridge.hibernate.dialect.SQLiteDialect"/>
            <property name="hibernate.connection.CharSet" value="utf8"/>
            <property name="hibernate.connection.characterEncoding" value="utf8"/>
            <property name="hibernate.connection.useUnicode" value="true"/>
            <property name="hibernate.flushMode" value="ALWAYS" />
            <property name="hibernate.show_sql" value="true"/>
            <property name="hibernate.hbm2ddl.auto" value="update"/>
            <!-- use encache provider-->
            <!--<property name="hibernate.cache.region.factory_class"-->
            <!--value="org.hibernate.cache.ehcache.EhCacheRegionFactory"/>-->
            <!--<property name="hibernate.javax.cache.provider" value="org.ehcache.jsr107.EhcacheCachingProvider"/>-->
            <!--&lt;!&ndash;use second level cache&ndash;&gt;-->
            <!--<property name="hibernate.cache.use_second_level_cache" value="true"/>-->
            <!--&lt;!&ndash;use 3rd level cache&ndash;&gt;-->
            <!--<property name="hibernate.cache.use_query_cache" value="true"/>-->
        </properties>
    </persistence-unit>
</persistence>